<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.1.24:1521:XE</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class ="com.Hibernate.TP1Hibernate.Model.Client"/>
        <mapping class ="com.Hibernate.TP1Hibernate.Model.Reservation"/>
        <mapping class ="com.Hibernate.TP1Hibernate.Model.Passager"/>
        <mapping class ="com.Hibernate.TP1Hibernate.Model.Vol"/>
        <mapping class ="com.Hibernate.TP1Hibernate.Model.CompagnieAerienne"/>
        <mapping class ="com.Hibernate.TP1Hibernate.Model.Ville"/>
        <mapping class ="com.Hibernate.TP1Hibernate.Model.Aeroport"/>
    </session-factory>
</hibernate-configuration>
